@media screen and (max-width: 1450px){ /* Tela Notebook*/

   header{
      height: 100px;
   } 

   .logo-nav img{
      width: 80%;
   }

   .conteiner-nav{
      width: 75%;
   }

   .navegação{
      gap: 15px;
   }

   .menu {  
      font-size: 20px;
      padding-left: 6px;
      padding-right: 6px;
   }

   .inicio {
      height: 380px;
      width: 80%;
      margin-top: 20px;
      margin-bottom: 30px;
   }

   .titulo-inicio{
      font-size: 24px;
      letter-spacing: 2%;
      margin-top: 5%;
      margin-left: 5%;  
   }

   .btInicio{
      margin-left: 5px;
      width: 260px;
      height: 75px;
      padding: 7px 5px;
      font-weight: bold;
      font-size: 23px;
   }

   .animais-inicio img{
      width: 550px;
   }

   .imagem-inicio {
      display: none;
   }

   .carrossel{
      height: 330px;
      margin-bottom: 30px;
   }

   .banner-carrossel {   
      height: 250px;
      width: 75vw;    
   }

   .centro-carrossel > h1{
      font-size: 22px;
   }

   .carrossel p{
      font-size: 18px;
   }

   .centro-carrossel2{
      margin-left: 3%;
      width: 65%;
   }

   .centro-carrossel2 > h1{
      font-size: 22px;
      
   }
   
   .carrossel2 p{
      font-size: 18px;
   }

   .btCarrossel1{
      width: 260px;
      height: 65px;
      font-size: 26px;       
   }

   .btCarrossel2{
      width: 260px;
      height: 65px;
      margin-left: 25px;
      font-size: 26px;
   }

   .btCarrossel3{
      width: 260px;
      height: 65px;
      margin-left: 25px;
      font-size: 26px;
   }

   .div-debaixo {
      height: 15px;   
   }

   .container-info{
      width: 100%;
      margin-bottom: 50px;
   }

   .quem-somos{
      width: 75%; 
      scroll-margin-top: 100px;  
   }

   .conteudo-quem-somos > h2{       
      font-size: 22px;
      margin-bottom: 25px;
   }

   .conteudo-quem-somos > p {
      font-size: 18px;
   }

   .quem-somos img{
      width: 250px;
   }

   .servicos1{
      width: 80%;
      scroll-margin-top: 100px;
   }

   .conteudo-servicos > h2{
      font-size: 22px;    
      margin-top: 25px;
   }

   .conteudo-servicos > img{
      width: 250px;
   }

   .texto-servicos1{
      width: 55%;
      font-size: 18px;
   }

   .container-servicos2{
      width: 80%;
   }

   .servicos2 > img {
      width: 250px;
   }

   .servicos2 > p{
      width: 55%;
      font-size: 18px;
   }

   .profissionais{
      width: 75%;
      padding: 10px;
      margin-bottom: 48px;        
   }

   .profissionais > h2{
      font-size: 22px;
   }

   .conteudo-profissionais{
      height: 296px;
      margin-top: 5%; 
   }

   .conteudo-profissionais > img{
      height: 190px;
   }

   .conteudo-profissionais > h3{
      font-size: 18px;
   }

   .conteudo-profissionais > p{
      font-size: 15px;
   }

   .avaliacoes {   
      width: 70%;
      margin-bottom: 40px;
   }

   .textoComentario {
      font-size: 16px;  
   }

   .contato{
      width: 70%;
      margin-bottom: 48px;
      scroll-margin-top: 100px;
   }

   .contato > h2{
      font-size: 22px;
   }

   .formulario{
      width: 70%;
   }

   label{
      font-size: 18px;  
   }

   input[type="submit"]{
      width: 150px;
      font-size: 18px;
   }

   .localizacao{
      width: 50%;
   }

   .localizacao h3{
      font-size: 18px;
   }

   .info-form{
      margin-left: 5%;
      font-size: 18px;
   }

   .mapa{
      width: 90%;
      margin: 70px 5% 40px 5%;  
   }
   
   .mapa iframe{
      height: 230px;
      width: 320px;
   }

   span{
      gap: 10px;
   }

   .icones-form{
      gap: 6px;
      margin-left: 5%;
   }

   .rodape{
      width: 90%;
   }

   .conteudo-footer{
      gap: 62px;
   }

   #imagem-blocos{
      height: 175px;
      width: 175px;
   }

   .blocos > h3{
      font-size: 14px;        
   }

   .blocos > p{
      font-size: 14px;
   }

   .blocos > img{
      padding-right: 9px;
   }
}
 
@media screen and (max-width: 980px) {

   header{
      height: 110px;   
   }

   .conteiner-nav{
      width: 90%;
      display: flex;
      justify-content: space-between;
   }

   nav{
      display: block;
      margin: auto;
   }

   .logo-mobile{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      margin-right: 5%;
   }

   .logo-mobile img{
      width: 105px;
      height: 50px;
      margin-right: 40px;
   }

   .menu-mobile{
      display: block;
      width: 40px;
      height: 40px;
   }
   
   .navegação{
      display: none;
   }

   .logo-header{
      display: none;
   }

   .inicio {      
      background-color: transparent;
      background-image: url(imagens/elipse.png);
      background-size: contain;
      background-position: center top;
      background-repeat: no-repeat;
      border: none;
      box-shadow: none;
      width: 100%;
      margin-top: 5%;
      margin-bottom: 10%;
   }

   .caixa-inicio{
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 15%;
   }
   
   .titulo-inicio{
      position: absolute;
      display: block;
      width: 50%;
      font-size: 24px;  
      z-index: 1;
      margin-left: 10%;
   }

   .animais-inicio img{
      width: 470px;
   }

   .btInicio{
      width: 260px;
      height: 60px;
      font-size: 22px;
   }

   .carrossel {
      display: none;
   }

   .quem-somos{
      display: flex;
      justify-content: center;
      width: 100%;
   }

   #logo-quem-somos{
      display: none;
   }

   .conteudo-quem-somos{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
   }

   .conteudo-quem-somos > h2{
      font-size: 28px;
      text-align: center;
      margin-top: 30px;
   }

   
   #logo-quem-somos-mobile{
      display: block;
      width: 180px;
      margin-bottom: 35px;
   }

   .conteudo-quem-somos > p {
      font-size: 17px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 20px;
   }

   .conteudo-quem-somos::after{
      content: "Cuidamos do seu animalzinho com amor!" ;    
      color: #063643;
      font-family: var(--fonte2) ;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 2%;
      text-align: center;
      margin-bottom: 25px;
   }

   .container-servicos1{
      width: 100%;
      display: flex;
      justify-content: center;
         
   }

   .servicos1{
      display: flex;
      flex-direction: column;
      align-items: center;
   }   

   .conteudo-servicos > h2{
      display: none;
   }

   .conteudo-servicos::before{
      content: "Nossos Serviços visam o cuidado do seu pet";
      color: var(--cor2);
      font-weight: bold;
      font-size: 24px;
      display: block;
      text-align: center;
      margin-bottom: 25px;
      margin-top: 35px;
   }

   .texto-servicos1{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      font-size: 17px;
      line-height: 25px;
      text-align: center;
   }

   .texto-servicos1 span{
      display: none;
   }

   #gato-mobile{
      display: flex;
      margin-left: 250px;
   }

   .btn-mobile{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 10px;
      width: 240px;
      height: 50px;
      border: none;
      border-radius: 5px;
      background-color: var(--cor1);
      color: var(--cor2);
      font-family: var(--fonte1);
      font-size: 17px;
      font-weight: 700;
      cursor: pointer;       
   }

   .btn-mobile:hover{
      transition: 0.2s;
      background-color: var(--cor2);color: var(--cor1);
   }

   #foto-veterinaria{
      display: none;
   }
   
   .servicos2{
      display: none;
   }

   #texto-profissionais-mobile{
      display: block;
      font-family: var(--fonte1);
      font-size: 28px;
      font-weight: 700;
      color: var(--cor2);
      margin-bottom: 30px;
   }

   .profissionais{
      width: 100%;
      align-items: center;
   }    

   .profissionais > h2{
      display: none;
   }

   .conteiner-profissional{
      width: 75%; 
      gap: 5px;    
   }

   .conteudo-profissionais > img{
      width: 180px;
      height: 180px;
   }
   
   .conteudo-profissionais > h3{
      font-size: 18px;
   }

   .conteudo-profissionais > p{
      font-size: 15px;
   }

   .bloco-profissional{
      flex-wrap: wrap;
   }

   .avaliacoes {   
      gap: 40px;
      width: 90%;
      margin-bottom: 40px;
   }

   .conteudo-avaliacoes::before {
      content: "Avaliações (9)";
      margin-top: 0;  
      text-align: center;
      color: var(--cor2);
      font-size: 24px;
      font-family: var(--fonte1);
      font-weight: 700;
      margin-top: 5%;
   }

   .conteudo-avaliacoes > h1 {
      display: none;
   }

   .paginacao{
      justify-content: center;
      gap: 50px;
      font-size: 20px;
      line-height: 30px;
   }

   .textoComentario {
      margin-left: 30px;    
   }

   hr {
      display: none;
   }

   #comentarios {
      margin-top: 30px;    
   }

   #comentarios h4{
      letter-spacing: 1%;
      font-size: 18px;
   }
   
   #comentarios p{
      letter-spacing: 1%;
      font-size: 16px;
      padding: 5px 0px;
   }

   .img-perfil{
      width: 80px;
      height: 80px;
   }

   .btnComentarios{
      display: none;
   }

   .btnComentarioMobile{
      display: flex;
      background-color: transparent;
      border: none;
   }

   .contato{
      width: 100%;
      margin-bottom: 30 px;
   }

   
   .contato > h2{
      display: none;
   }

   .formulario::before{
      display: block;
      content: "Entre em Contato";
      font-weight: 700;
      font-size: 26px;
      color: var(--cor2);
      margin-top: 20px;
      text-align: center;
   }

   .formulario{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      border-radius: 0px;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);
   }

   .caixa{
      gap: 10px;
   }

   form{  
      width: 85%;
   }

   label{
      font-size: 18px;  
   }

   input[type="submit"]{
      height: 60px;
      width: 170px;
      font-size: 22px;
      margin: auto;
   }

   .localizacao{
      display: none;
   }
   
   .rodape{
      width: 50%; 
   }
   
   #imagem-blocos{
      display: none;
   }
   
   .blocos{
      margin: 15px 0px;
   }
   
   .blocos > h3{
      font-size: 14px;
      margin-bottom: 10px;
   }
   
   .blocos > p{
      font-size: 14px;       
      margin-bottom: 10px;
   }
   
   #icones{
      display: none;
   }

   #icones-mobile{
      display: flex;
      width: 50%;
      justify-content: space-around;
      margin-bottom: 50px;
   }

   #icones-mobile img{
      width: 60px;
      height: 60px;
   }
}
@media screen and (min-width: 350px) and (max-width: 450px){

   header{
      height: 100px; 
      margin-top: 30px;  
   }
   
   .logo-mobile img{
      width: 100px;
      height: 44px;
      margin-right: 30px;
   }
   
   .caixa-inicio{
      margin-top: 25%;
   }
            
   .titulo-inicio{
      width: 75%;
      font-size: 24px;  
      margin-left: 5%;
   }
   
   .animais-inicio img{
      width: 360px;
   }
   
   .btInicio{
      width: 200px;
      height: 50px;
      font-size: 16px;
      border-radius: 4px;
   }

   .conteudo-quem-somos{
      width: 95%;
   }     
      
   #logo-quem-somos-mobile{
      display: block;
      width: 170px;
   }
   
   .conteudo-quem-somos > p {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2%;
   }
   
   .texto-servicos1{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2%;
   }
   
   .btn-mobile{
      width: 200px;
      height: 40px;
      border-radius: 2px;
      font-size: 15px;     
   }
   
   #texto-profissionais-mobile{
      font-size: 24px;
   }   
   
   .conteiner-profissional{
      width: 100%;                
   }
   
   .conteudo-profissionais > img{
      width: 170px;
      height: 170px;
   }
      
   .conteudo-profissionais > h3{
      font-size: 15px;
   }
   
   .conteudo-profissionais > p{
      font-size: 11px;
   }
   
   .conteudo-avaliacoes::before {
      font-size: 20px;
   }
   
   #comentarios {
      margin-top: 35px;    
   }

   .img-perfil{
      width: 60px;
      height: 60px;
   }
   
   #comentarios h4{
      font-size: 16px;
      line-height: 100%;
      font-weight: 400;
   }
      
   #comentarios p{
      letter-spacing: 1%;
      font-size: 14px;
      padding: 5px 0px;
   }
   
   .formulario::before{
      font-size: 24px;
   }
   
   form{  
      width: 85%;
   }
   
   label{
      font-size: 16px;  
   }
   
   input[type="submit"]{
      height: 55px;
      width: 150px;
      font-size: 20px;
   }
   
   .localizacao{
      display: none;
   }

   #icones-mobile{
      width: 60%;
   }

   #icones-mobile img{
      width: 50px;
      height: 50px;
   }

   .rodape{
      width: 90%;
   }
   
   #imagem-blocos{
      display: none;
   }
   
   .blocos{
      margin: 15px 0px;
   }
   
   .blocos > h3{
      font-size: 12px;
      margin-bottom: 8px;
   }
   
   .blocos > p{
      font-size: 12px;       
      margin-bottom: 8px;
   }
   
   #icones{
      display: none;
   }

   .fim{
      font-size: 10px;
   }
}
 