@media screen and (max-width: 400px) {

    :root {
        --cor1: #f8f8ff;
        --cor2: #063643;
        --cor3: #e2f5fa;
        --cor4: #0f637a;
        --cor5: #7ccbe0;
        --cor6: #a3a3a3;
        --cor7: #89c5d5;
        --cor8: #63b3c9;

        --cor9: #fafdff;
        --cor10: #c7ebfb;
        --cor11: #6BB7CB;

        --fonte1: "Poppins", sans-serif;
        --fonte2: "Open Sans", sans-serif;
    }

    * {
        font-family: var(--fonte1);
    }

    /* HEADER */

    .header-desktop {
        display: none;
    }

    .header-mobile {
        margin-top: 33px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 10px;
    }

    .header-mobile a:first-child {
        flex: 0 0 auto;
    }

    .logo-mobile {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo-mobile img {
        height: 70px;
        width: auto;
    }


    /* INICIO */


    .inicio {
        position: relative;
        background-color: var(--cor1);
        height: 450px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .carrossel {
        display: none;
    }




    /* QUEM SOMOS */
    .quem-somos {
        width: 100%;
        height: 356px;
        background-color: var(--cor7);
        background-image: url(imagens/fundo-quem-somos.png);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .quem-somos-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--cor7);
        background-image: url(imagens/fundo-quem-somos.png);
        text-align: center;
        color: var(--cor2);
        font-size: 14px;
        height: 356px;
        gap: 40px;
    }

    .text>p {
        padding: 10px;
    }

    .text>h4 {
        padding: 10px;
        font-size: 16px;
    }

    .imgMobile {
        width: 167px;
        height: 102.56724548339844;
    }

    .titulo-img {
        display: flex;
        flex-direction: column-reverse;
    }

    /* SERVIÇOS */
    .servicos1 {
        width: 100%;
        height: 420px;
        background-color: var(--cor8);
        background-image: url(imagens/fundo-quem-somos.png);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 92px;
        display: none;
    }

    .servicos1-mobile {
        text-align: center;
        color: #063643;
        width: 100%;
        height: 330px;
        background-color: var(--cor8);
        background-image: url(imagens/fundo-quem-somos.png);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .text-servicos1 {
        margin-top: 30px;
        gap: 40px;
        display: flex;
        flex-direction: column;
    }

    .text-servicos1>p {
        font-size: 14px;
        padding: 10px;
    }

    .servicos1-mobile>button {
        width: 207px;
        height: 38px;
        border-radius: 2.19px;
        font-weight: bolder;
        font-size: 15.34px;
        color: var(--cor2);
        background-color: var(--cor1);
        border-style: none;
        transition: 0.2s;
    }

    .servicos1-mobile>button:hover {
        background-color: var(--cor2);
        color: var(--cor1);
        cursor: pointer;
    }

    /* SERVIÇOS 2 */
    .servicos2 {
        display: none;
    }

    /* PROFISSIONAIS */
    .profissionais {
        display: none;
    }

    .profissionais-mobile>h2 {
        padding: 30px;
    }

    .profissionais-mobile {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .conteudo-profissionais {
        padding: 0;
        margin: 0;
        width: 166px;
        margin: auto;
        height: 250px;
    }

    .conteudo-profissionais>p {
        font-size: 12px;
    }

    .conteiner-profissional {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* Duas colunas */
        gap: 0px;
        /* Espaçamento entre os itens */
        background-color: var(--cor1);
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 17px;
    }

    .conteudo-profissionais>img {
        height: 166px;
        width: 166px;
    }


    /* AVALIAÇOES */

    .paginacao {
        display: flex;
        gap: 20px;
        color: var(--cor2);
        font-weight: bold;
        font-size: 18px;
        margin-top: 50px;
        margin-left: 12px;
        justify-content: center;
    }



    .textoComentario {
        flex: 1;
        font-size: 12px;
        max-width: 600px;
    }

    hr {
        display: none;
    }

    #comentarios {
        margin-top: 0px;
        min-width: 400px;

    }

    .comentario2,
    .comentario3 {
        margin-top: 20px;
    }


    .foto-comentario {
        height: 60px;
        width: 60px;
        object-fit: cover;
        margin-right: 0px;
        margin-left: 25px;
    }

    .avaliacoes {
        width: 100%;
        height: 500px;
        margin-bottom: 0px;
    }



    .comentario1,
    .comentario2,
    .comentario3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 95%;
        min-height: 60px;
        max-width: 400px;
        flex-wrap: wrap;
    }

    .textoComentario>img {
        height: 13.239721298217773px;
        width: 86.83331298828125px;
    }

    .conteudo-avaliacoes {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: inherit;
        height: 490px;
        margin-left: 0px;

    }

    .conteudo-avaliacoes>h1 {
        color: var(--cor2);
        justify-content: center;
        margin-top: 0px;
        text-align: center;
        padding: 20px;

    }

    .btnComentarios {

        background-color: var(--cor3);
        border-radius: 8px;
        height: 30px;
        width: 40px;
        padding: 5px 10px 5px 10px;
        overflow-x: visible;
        display: flex;
        align-items: center;
        justify-self: center;
        border-color: #063643;
    }

    .btnComentarios:hover {
        background-color: var(--cor9);
    }

    .btnComentarios:active {
        background-color: var(--cor2);
    }

    /* MAPA */

    .contato {
        display: none;
    }

    .contato-mobile {
        width: 100%;
        height: auto;
        display: inline;
    }


    .formulario-mobile {
        width: 400px;
        height: auto;
        background-color: var(--cor9);
        border-radius: 0px;
        border-top: 1px solid rgba(6, 54, 67, 0.4);
        border-right: 1px solid rgba(6, 54, 67, 0.4);
        border-bottom: 1px solid rgba(6, 54, 67, 0.4);
    }

    .formulario-mobile>h1 {
        text-align: center;
        padding-top: 20px;
        color: #063643;
    }

    .caixa {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 40px
    }

    .input {
        height: 50px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        align-items: center;
        justify-content: center;
    }

    textarea {
        height: 100px;
        border-radius: 8px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    label {
        font-weight: 700;
        font-size: 20px;
        color: var(--cor2);
    }

    input[type="submit"] {
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: var(--cor4);
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 18px;
    }

    /* RODAPE */

    .rodape {
        display: none;
    }

    .fim {
        display: none;
    }

    #icones {
        display: flex;
        justify-content: center;
        width: auto;
        height: 63px;
    }

    .links-rodape {
        display: flex;
        height: 186px;
        width: 100%;
        background-color: #f8f8ff;
        justify-content: center;
        gap: 25px;
    }

    .blocos{
        margin-top: 35px;
        margin-bottom: 35px;
        
    }
    .blocos > p {
        font-size: 12px;
    }

    .blocos > h {
        font-size: 12px;
    }

    .fim-mobile{
        background-color: var(--cor2);
        text-align: center;
        text-transform: uppercase;
        padding: 12px;
        font-family: var(--fonte1);
        font-weight: 700;
        font-size: 12px;
        color: var(--cor3);
    }
}