@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor1: #f8f8ff;
    --cor2: #063643;
    --cor3: #e2f5fa;
    --cor4: #0f637a;
    --cor5: #7ccbe0;
    --cor6: #a3a3a3;
    --cor7: #89c5d5;
    --cor8: #63b3c9;

    --cor9: #fafdff;
    --cor10: #c7ebfb;
    --cor11: #6BB7CB;

    --fonte1: "Poppins", sans-serif;
    --fonte2: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}

.border{
    border-style: solid;
}

body{
    background-color: var(--cor3);
    font-family: var(--fonte1);
}

header { 
    background-color: var(--cor1); 
    width: 100%;
    height: 140px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.151);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10;
}

.logo {
    margin-left: 390px;
}

nav {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-right: 390px;
}

.menu {
    text-decoration: none;
    font-size: 24px;
    color: var(--cor2);
    padding-left: 4px;
    padding-right: 4px;
}

.navegação{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    padding: 0px 4px;
}

.menu:hover {
    color: var(--cor2);
    background-color: rgba(107, 184, 203, 0.4);
    border-radius: 10px;
    transition: 0.2s;
}

main{
    background-color: var(--cor3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio {
    position: relative;
    background-color: var(--cor1);
    height: 450px;
    width: 1180px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 30px;
}

.caixa-inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.titulo-inicio{
    color: var(--cor2);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 2%;
    margin: 50px 0px 30px 48px;
}

.btInicio{
    width: 283px;
    height: 72px;
    padding: 5px 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    border-style: none;
    background-color: var(--cor4);
    font-weight: 700;
    font-size: 28px;
    color: white;
}

.btInicio:hover{
    background-color: var(--cor5);
    color: var(--cor2);
    transition: 0.2s;
}

.imagem-inicio {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 30px;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
}

#imagem-animal{  
    z-index: 3;
    transform: rotate(45deg);
}

.animais-contato{
    width: 717px;
    height: 260px;
    display: flex;
    align-content: center;
}

.carrossel{
    width: 85vw;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.banner-carrossel[data-pagina="1"] {
    background-image: url('imagens/carrossel-1.png'); 
    background-size: cover;
    background-position: center center;
}

.banner-carrossel[data-pagina="2"] {
    background-image: url('imagens/carrossel-3.png'); 
    background-size: cover;
    background-position: center center;
}

.banner-carrossel[data-pagina="3"] {
    background-image: url('imagens/carrossel-2.png'); 
    background-size: cover;
    background-position: center center;
}

.banner-carrossel {   
    height: 290px;
    width: 58vw;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.151);
    display: flex;     
}

.flechas{
    display: flex;
    align-items: center;
}

.flechas > button{
    background: none;
    border: none;
    cursor: pointer;
}

.centro-carrossel{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    margin-left: 45%;
}

.centro-carrossel > h1{
    color: var(--cor2);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 2%;
}

.carrossel p{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    color: var(--cor4);
}

.centro-carrossel2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
    width: 60%;
}

.centro-carrossel2 > h1{
    color: var(--cor2);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 2%;
}

.carrossel2 p{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    color: var(--cor4);
}

.texto-banner2 h1, .texto-banner2 p{
    color: var(--cor1);
}

.btCarrossel1{
    width: 283px;
    height: 72px;
    padding: 10px 5px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 28px;
    color: var(--cor2);
    background-color: var(--cor1);
    border-style: none;
}

.btCarrossel1:hover{
    background-color: var(--cor2);
    color: var(--cor1);
    transition: 0.2s;
    cursor: pointer;
}

.btCarrossel2{
    width: 283px;
    height: 72px;
    margin-left: 30px;
    padding: 10px 5px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 28px;
    color: var(--cor2);
    background-color: var(--cor1);
    border-style: none;
    transition: 0.2s;
}

.btCarrossel2:hover {
    background-color: var(--cor5);
    color: var(--cor2);   
    cursor: pointer;
}

.btCarrossel3{
    width: 283px;
    height: 72px;
    padding: 10px 5px;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 28px;
    color: var(--cor1);
    background-color: var(--cor2);
    border-style: none;
    transition: 0.2s;
}

.btCarrossel3:hover {
    background-color: var(--cor5);
    color: var(--cor2);    
    cursor: pointer;
}

.div-debaixo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 25px;
    margin-top: 15px; 
    background-color: var(--cor3);
}

.circulos {
    display: flex; 
    justify-content: center; 
    gap: 25px; 
}

.circulo1 {
    width: 20px; 
    height: 20px; 
    background-color: var(--cor11); 
    border-radius: 50%; 
    cursor: pointer;
}

.circulo2 {
    width: 20px; 
    height: 20px; 
    background-color: var(--cor6); 
    border-radius: 50%; 
    cursor: pointer;
}

.circulo3 {
    width: 20px; 
    height: 20px; 
    background-color: var(--cor6); 
    border-radius: 50%; 
    cursor: pointer;
}

/*                                       Caixa do Quem-Somos                                             */
.container-info{
    width: 100%;
}

.quem-somos{
    width: 100%;
    height: 300px;
    background-color: var(--cor7);
    background-image: url(imagens/fundo-quem-somos.png);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.quem-somos-mobile{
    display: none;
}

.quem-somos > img{
    width: 300px;
    height: 300px;
}

.conteudo-quem-somos{
    height: 100%;
    
}

.conteudo-quem-somos > h2{
    color: var(--cor2);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 35px;
    margin-top: 25px;
}

.conteudo-quem-somos > p {
    max-width: 700px;
    color: var(--cor2);
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2%;
}


/*                                    Caixa de Serviços                                             */
.servicos1-mobile{
    display: none;
}

.servicos1{
    width: 100%;
    height: 420px;
    background-color: var(--cor8);
    background-image: url(imagens/fundo-quem-somos.png);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 92px;
}

.conteudo-servicos{
    height: 420px;
}

.conteudo-servicos > h2{
    color: var(--cor2);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 35px;
}

.texto-servicos1{
    width: 620px;
    height: 150px;
    color: var(--cor2);
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2%;
}
/*                              Caixas Serviços 2                                   */

.servicos2{
    width: 100%;
    height: 325px;
    background-color: var(--cor7);
    background-image: url(imagens/fundo-quem-somos.png);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-bottom: 48px;
}

.servicos2 > p{
    width: 620px;
    height: 120px;
    color: var(--cor2);
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2%;
}

/*                          Caixa Profissionais                             */

.profissionais{
    width: 65%;
    padding: 20px;
    background-color: var(--cor1);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.conteiner-profissional{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profissionais > h2{
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 24px;
    color: var(--cor2);
}

.conteudo-profissionais{
    height: 296px;
    width: 240px;
    margin-top: 40px;  
}

.conteudo-profissionais > img{
    height: 230px;
    width: 230px;
}

.conteudo-profissionais > h3{
    font-family: var(--fonte2);
    font-weight: 500;
    font-size: 18px;
    color: var(--cor2);
    text-align: center;
    margin-bottom: 6px;
}

.conteudo-profissionais > p{
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 16px;
    color: var(--cor2);
    text-align: center;
}

/*                                          Caixa Avaliaçoes                                */

.paginacao{
    display: flex;
    gap: 20px;
    color: var(--cor2);
    font-weight: bold;
    font-size: 18px;
    margin-top: 66px;
    margin-left: 912px;
}

.textoComentario  {
    margin-left: 27px;
    max-width: 900px ;
    
}

hr {
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0.1);
    width: 1005px;
    margin-top: 10px;
}

#comentarios {
    margin-top: 43px;
    min-width: 970px;
    
}

.comentario2, .comentario3 {
    margin-top: 20px;
}

.avaliacoes{
    width: 1180px;
    height: 626px;
    margin-bottom: 37px;
}

.comentario1, .comentario2, .comentario3 {
    display: flex;
    flex-direction: row;

}
.conteudo-avaliacoes {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 615px;
    margin-left: 65px;
}

.conteudo-avaliacoes > h1 {
    color: var(--cor2);
    margin-top: 50px;
    
}

.btnComentarios {
    
    background-color: var(--cor3);
    border-radius: 8px;
    height: 30px;
    width: 40px;
    padding: 5px 10px 5px 10px;
    overflow-x: visible;
    display: flex;
    align-items: center;
    justify-self: center;
    border-color: #063643;
}

.btnComentarios:hover {
    background-color: var(--cor9);
}

.btnComentarios:active {
    background-color: var(--cor2);
}

/*                                          Caixa Contato                                   */

.contato{
    height: 745px;
    width: 1020px;
    margin-bottom: 48px;
}

.contato > h2{
    font-weight: 700;
    font-size: 24px;
    color: var(--cor2);
}

.container-contato{
    height: 692px;
    margin-top: 10px;
    display: flex;
}

.formulario{
    width: 600px;
    height: 692px;
    background-color: var(--cor9);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid rgba(6, 54, 67, 0.4);
    border-right: 1px solid rgba(6, 54, 67, 0.4);
    border-bottom: 1px solid rgba(6, 54, 67, 0.4);
}

.caixa{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form{  
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px
}

.input{
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.4); 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);   
}

textarea{
    height: 100px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.4);    
}

label{
    font-weight: 700;
    font-size: 20px;  
    color: var(--cor2);
}

.input:focus , textarea:focus{
    border: 3px solid var(--cor2);
    outline: none;
    transition: 0.1s;
}

input[type="submit"]{
    height: 50px;
    width: 145px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor4);
    color: var(--cor1);
    font-weight: 700;
    font-size: 20px;
}

input[type="submit"]:hover{
    background-color: var(--cor2);
    transition: 0.2s;
    cursor: pointer;
}

.localizacao{
    width: 420px;
    height: 692px;
    background-color: var(--cor1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid rgba(6, 54, 67, 0.4);
}

.localizacao h3{
    margin: 40px 0px 40px 20px;
    font-weight: 700;
    font-size: 20px;
    color: var(--cor2);
}

.info-form{
    margin-left: 20px;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--cor2);
}

.mapa{
    display: flex;
    align-items: center;
    margin: 70px 0px 40px 35px;
    
}

.mapa iframe{
    height: 240px;
    width: 350px;
    border-radius: 4px;
    border: 1px solid rgba(6, 54, 67, 0.4);
}

span{
    display: flex;
    gap: 12px;
    align-items: center;
}

.icones-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 20px;
}

/*                                  Footer                          */

.rodape{
    height: 232px;
    background-color: var(--cor1);
    border-top: 1px solid var(--cor10);
    border-bottom: 1px solid var(--cor10);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    gap: 100px;
}

#imagem-blocos{
    height: 200px;
    width: 200px;
}

.blocos{
    margin-top: 35px;
}

.blocos > h3{
    color: var(--cor2);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.blocos > p{
    color: var(--cor2);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.blocos > img{
    padding-right: 20px;
}

.fim{
    background-color: var(--cor2);
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    font-family: var(--fonte1);
    font-weight: 700;
    font-size: 12px;
    color: var(--cor3);
}

