@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Configurações Gerais*/

:root{
    --cor1: #f8f8ff;
    --cor2: #063643;
    --cor3: #e2f5fa;
    --cor4: #0f637a;
    --cor5: #7ccbe0;
    --cor6: #a3a3a3;
    --cor7: #89c5d5;
    --cor8: #63b3c9;
    --cor9: #fafdff;
    --cor10: #c7ebfb;
    --cor11: #6BB7CB;

    --fonte1: "Poppins", sans-serif;
    --fonte2: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border{
    border-style: solid;
}

body{
    background-color: var(--cor3);
    font-family: var(--fonte1);
}

/*Header*/

header { 
    background-color: var(--cor1); 
    width: 100%;
    height: 140px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.151);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.conteiner-nav{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegação{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.menu {
    text-decoration: none;
    font-size: 24px;
    color: var(--cor2);
    padding-left: 4px;
    padding-right: 4px;
}

.menu:hover {
    color: var(--cor2);
    background-color: rgba(107, 184, 203, 0.4);
    border-radius: 10px;
    transition: 0.2s;
}

.logo-mobile{
    display: none;
}

.menu-mobile{
    display: none;
}

main{  
    background-color: var(--cor3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Incio*/

.inicio {
    position: relative;
    background-color: var(--cor1);
    height: 450px;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 30px;
    scroll-margin-top: 140px;
}


.caixa-inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-inicio{
    width: 40%;
    color: var(--cor2);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 2%;
    margin-top: 5%;
    margin-left: 5%;  
}

.btInicio{
    width: 290px;
    height: 75px;
    padding: 5px 10px;
    border-radius: 8px;
    border-style: none;
    background-color: var(--cor4);
    font-weight: 700;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.btInicio:hover{
    background-color: var(--cor5);
    color: var(--cor2);
    transition: 0.2s;
}

.imagem-inicio {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    right: 40px;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
}

#imagem-animal{  
    z-index: 3;
    transform: rotate(45deg);
}

/*Carrossel*/

.carrossel{
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.banner-carrossel[data-pagina="1"] {
    background-image: url('imagens/carrossel-1.png'); 
    background-size: cover;
    background-position: center center;
}

.banner-carrossel[data-pagina="2"] {
    background-image: url('imagens/carrossel-3.png'); 
    background-size: cover;
    background-position: center center;
}

.banner-carrossel[data-pagina="3"] {
    background-image: url('imagens/carrossel-2.png'); 
    background-size: cover;
    background-position: center center;
}

.banner-carrossel {   
    height: 290px;
    width: 65vw;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.151);
    display: flex;     
}

.flechas{
    display: flex;
    align-items: center;
}

.flechas > button{
    background: none;
    border: none;
    cursor: pointer;
}

.centro-carrossel{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    margin-left: 40%;
}

.centro-carrossel > h1{
    color: var(--cor2);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 2%;
}

.carrossel p{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    color: var(--cor4);
}

.centro-carrossel2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
    width: 60%;
}

.centro-carrossel2 > h1{
    color: var(--cor2);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 2%;
}

.carrossel2 p{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    color: var(--cor4);
}

.texto-banner2 h1, .texto-banner2 p{
    color: var(--cor1);
}

.btCarrossel1{
    width: 283px;
    height: 72px;
    padding: 10px 5px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 28px;
    color: var(--cor2);
    background-color: var(--cor1);
    border-style: none;
}

.btCarrossel1:hover{
    background-color: var(--cor2);
    color: var(--cor1);
    transition: 0.2s;
    cursor: pointer;
}

.btCarrossel2{
    width: 283px;
    height: 72px;
    margin-left: 30px;
    padding: 10px 5px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 28px;
    color: var(--cor2);
    background-color: var(--cor1);
    border-style: none;
    transition: 0.2s;
}

.btCarrossel2:hover {
    background-color: var(--cor5);
    color: var(--cor2);   
    cursor: pointer;
}

.btCarrossel3{
    width: 283px;
    height: 72px;
    padding: 10px 5px;
    margin-left: 30px;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 28px;
    color: var(--cor1);
    background-color: var(--cor2);
    border-style: none;
    transition: 0.2s;
}

.btCarrossel3:hover {
    background-color: var(--cor5);
    color: var(--cor2);    
    cursor: pointer;
}

.div-debaixo {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 25px;
    margin-top: 15px; 
    background-color: var(--cor3);
}

.circulos {
    display: flex; 
    justify-content: center; 
    gap: 25px; 
}

.circulo1 {
    width: 20px; 
    height: 20px; 
    background-color: var(--cor11); 
    border-radius: 50%; 
    cursor: pointer;
}

.circulo2 {
    width: 20px; 
    height: 20px; 
    background-color: var(--cor6); 
    border-radius: 50%; 
    cursor: pointer;
}

/*Quem Somos*/

.container-info{
    width: 100%;
    background-color: var(--cor7);
    background-image: url(imagens/fundo-quem-somos.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.quem-somos{
    width: 65%;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-margin-top: 140px;
}

.conteudo-quem-somos{
    width: 60%;
}

.conteudo-quem-somos > h2{
    color: var(--cor2);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 35px;
}

.conteudo-quem-somos > p {
    color: var(--cor2);
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2%;
}

#logo-quem-somos-mobile{
    display: none;
}

.container-servicos1{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--cor8);
    background-image: url(imagens/fundo-quem-somos.png); 
}

/*Serviços*/

.servicos1{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    scroll-margin-top: 140px;
}

.conteudo-servicos > h2{
    color: var(--cor2);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 35px;
}

.texto-servicos1{
    width: 55%;
    color: var(--cor2);
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2%;
}

#gato-mobile{
    display: none;
}

.btn-mobile{
    display: none;
}

.servicos2{
    width: 100%;
    height: 325px;
    background-color: var(--cor7);
    background-image: url(imagens/fundo-quem-somos.png);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-servicos2{
    width: 65%;
}

.servicos2 > p{
    width: 55%;
    color: var(--cor2);
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2%;
}

#texto-profissionais-mobile{
    display: none;
}

/*Profissionais*/

.profissionais{
    width: 65%;
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
}

.conteiner-profissional{
    display: flex;
    flex-flow: row nowrap;
}

.bloco-profissional{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    
}

.profissionais > h2{
    margin-top: 5%;
    margin-left: 5%;
    font-weight: 700;
    font-size: 24px;
    color: var(--cor2);
}

.conteudo-profissionais{
    height: 296px;
    margin-top: 5%;
}

.conteudo-profissionais > img{
    height: 230px;
    width: 100%;
}

.conteudo-profissionais > h3{
    font-family: var(--fonte2);
    font-weight: 500;
    font-size: 18px;
    color: var(--cor2);
    text-align: center;
    margin-bottom: 6px;
}

.conteudo-profissionais > p{
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 16px;
    color: var(--cor2);
    text-align: center;
}

/*Avaliações*/

.avaliacoes {   
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 60%;
    margin-bottom: 40px;
}

.conteudo-avaliacoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.conteudo-avaliacoes > h1 {
    color: var(--cor2);
    font-size: 24px;
    font-family: var(--fonte1);
    font-weight: 700;
    margin-top: 5%;   
}

.paginacao{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    color: var(--cor2);
    font-weight: bold;
    font-size: 18px;
}

.textoComentario {
    margin-left: 20px;  
    flex-wrap: wrap;  
}

hr {
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0.1);
}

#comentarios {
    margin-top: 40px;    
}

#comentarios h4{
    font-family: var(--fonte2);
    font-size: 20px;
    font-weight: 400;
    color:var(--cor2);
}

#comentarios p{
    font-family: var(--fonte2);
    font-size: 18px;
    font-weight: 400;
    color: var(--cor2);
    padding: 10px 0px;
}

.comentario2, .comentario3 {
    margin-top: 25px;
}

.comentario1, .comentario2, .comentario3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.btnComentarios {  
    background-color: var(--cor3);
    border-radius: 8px;
    height: 30px;
    width: 40px;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-self: center;
    border-color: #063643;
}

.btnComentarios:hover {
    background-color: var(--cor9);
}

.btnComentarios:active {
    background-color: var(--cor2);    
}

.btnComentarioMobile{
    display: none;
}

/*Formulario*/

.contato{
    height: 745px;
    width: 60%;
    margin-bottom: 48px;
    scroll-margin-top: 140px;
}

.contato > h2{
    font-weight: 700;
    font-size: 24px;
    color: var(--cor2);
}

.container-contato{
    height: 692px;
    margin-top: 10px;
    display: flex;
}

.formulario{
    width: 60%;
    height: 692px;
    background-color: var(--cor9);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid rgba(6, 54, 67, 0.4);
    border-right: 1px solid rgba(6, 54, 67, 0.4);
    border-bottom: 1px solid rgba(6, 54, 67, 0.4);
}

.caixa{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

form{  
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px
}

.input{
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.4); 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);   
}

textarea{
    height: 100px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.4);    
}

label{
    font-weight: 700;
    font-size: 20px;  
    color: var(--cor2);
}

.input:focus , textarea:focus{
    border: 2px solid var(--cor2);
    outline: none;
    transition: 0.1s;
}

input[type="submit"]{
    height: 50px;
    width: 145px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor4);
    color: var(--cor1);
    font-weight: 700;
    font-size: 20px;
}

input[type="submit"]:hover{
    background-color: var(--cor2);
    transition: 0.2s;
    cursor: pointer;
}

.localizacao{
    width: 40%;
    height: 692px;
    background-color: var(--cor1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid rgba(6, 54, 67, 0.4);
}

.localizacao h3{
    margin: 40px 0px 40px 20px;
    font-weight: 700;
    font-size: 20px;
    color: var(--cor2);
}

.info-form{
    margin-left: 5%;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--cor2);
}

.mapa{
    display: flex;
    align-items: center;
    margin: 70px 5% 40px 10%;  
}

.mapa iframe{
    height: 240px;
    width: 350px;
    border-radius: 4px;
    border: 1px solid rgba(6, 54, 67, 0.4);
}

span{
    display: flex;
    gap: 12px;
    align-items: center;
}

.icones-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 20px;
}

#icones-mobile{
    display: none;
}

/*Footer*/

footer{
    width: 100%;
    background-color: var(--cor1);
    border-top: 1px solid var(--cor10);
    border-bottom: 1px solid var(--cor10);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rodape{
    width: 75%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.conteudo-footer{
    display: flex;
    gap: 90px;
}

#imagem-blocos{
    height: 200px;
    width: 200px;
}

.blocos{
    margin-top: 35px;
}

.blocos > h3{
    color: var(--cor2);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.blocos > p{
    color: var(--cor2);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.blocos > img{
    padding-right: 20px;
}

.fim{
    width: 100%;
    background-color: var(--cor2);
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    font-family: var(--fonte1);
    font-weight: 700;
    font-size: 12px;
    color: var(--cor3);
}